<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Detalles del Asesor</title>
<link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>

  </head>
  <body>
    {{body}}
  </body>

</html>